<div class="container" align="right">
  <button mat-raised-button color="accent" routerLink="/login" class="mt-3 mb-2">Logout</button>
</div>

<div class="container mt-5 mb-2">
  
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
 
    <mat-grid-tile>
        <div class="example-button-container">
            <button mat-fab extended routerLink="/employee">
              <mat-icon>engineering</mat-icon>
              Add Employee
            </button>
          </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div class="example-button-container">
            <button mat-fab extended routerLink="/employee-list">
              <mat-icon>view_list</mat-icon>
              All Employees
            </button>
          </div>
    </mat-grid-tile>



  </mat-grid-list>
</div>
